@font-face {
    font-family: BebasNeue;
    src: url(./fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}
h1{
    font-family: BebasNeue
}
h5{
font-family: Sigma;
src:url(./fonts/Bebas_Neue\,Sigmar_One/)
}

body{
    background-image: url("../img/Pousada.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
section{
    background-color: white;
    padding: 80px 30px 30px 20px;
}
#home img {
    width: 80%;
}
.acomodacao{
padding:100px 200px;
text-align: center;
color: white;
background-color: rgba(0, 0, 0, 80%);

}